openapi: 3.0.2
info:
  title: Territories
  description: |
    Territory API is used to manage territories.
  contact:
    name: Sam
    email: sam102022@hotmail.com
  version: 1.0.0
servers:
  - url: 'http://localhost:8080'
tags:
   - name: Groups
     description: Manage groups

paths:
  /v1/resources/groups:
    get:
      tags:
      - Groups
      summary: All groups
      description: Get groups
      operationId: getGroups
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items :
                  $ref: '#/components/schemas/Group'
        400:
          description: Resource does not exist.
          content:
            application/json:
              schema:
                $ref: 'commons-models.openapi.yaml#/components/schemas/ApiError'
    post:
      tags:
      - Groups
      summary: Add a group
      description: Add a group
      operationId: addGroup
      requestBody:
        description: group
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/Group'
        required: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        400:
          description: Resource does not exist.
          content:
            application/json:
              schema:
                $ref: 'commons-models.openapi.yaml#/components/schemas/ApiError'
                
  /v1/resources/groups/search:
    post:
      tags:
      - Groups
      summary: search groups
      description: search groups
      operationId: searchGroups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupSearch'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items :
                  $ref: '#/components/schemas/Group'
        400:
          description: Resource does not exist.
          content:
            application/json:
              schema:
                $ref: 'commons-models.openapi.yaml#/components/schemas/ApiError'

  /v1/resources/groups/{id}:
    get:
      tags:
      - Groups
      summary: Get group
      description: Get group
      operationId: getGroup
      parameters:
      - name: id
        in: path
        description: Group's id (Example&#058; 1)
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        400:
          description: Resource does not exist.
          content:
            application/json:
              schema:
                $ref: 'commons-models.openapi.yaml#/components/schemas/ApiError'
    put:
      tags:
      - Groups
      summary: Update a group
      description: Update a group
      operationId: updateGroup
      parameters:
      - name: id
        in: path
        description: Group's id (Example&#058; 1)
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      requestBody:
        description: group
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/Group'
        required: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        400:
          description: Resource does not exist.
          content:
            application/json:
              schema:
                $ref: 'commons-models.openapi.yaml#/components/schemas/ApiError'
    delete:
      tags:
      - Groups
      summary: Delete a group
      description: Delete a group
      operationId: deleteGroup
      parameters:
      - name: id
        in: path
        description: Group's id (Example&#058; 1)
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      responses:
        200:
          description: successful operation
          content: {}
        400:
          description: Resource does not exist.
          content:
            application/json:
              schema:
                $ref: 'commons-models.openapi.yaml#/components/schemas/ApiError'

  /v1/resources/groups/{id}/territories:
    get:
      tags:
      - Groups
      summary: Get territories
      description: Get territories
      operationId: getTerritories
      parameters:
      - name: id
        in: path
        description: Group's id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items :
                  $ref: 'api-territory-territory.openapi.yaml#/components/schemas/Territory'
        400:
          description: Resource does not exist.
          content:
            application/json:
              schema:
                $ref: 'commons-models.openapi.yaml#/components/schemas/ApiError'

  /v1/resources/groups/{id}/territories/export:
    post:
      tags: 
        - Groups
      summary: Export des territoires
      description: Export des territoires
      operationId: exportTerritories
      requestBody:
        description: bean
        required: true
        content:
          'application/json;charset=UTF-8':
            schema:
              $ref: 'commons-models.openapi.yaml#/components/schemas/PrintSettings'
      parameters:
      - name: id
        in: path
        description: Group's id
        required: true
        schema:
          type: integer
          format: int32
      - name: ids
        in: query
        description: Territory's ids
        required: false
        schema:
          type: array,
          items: {
            type: integer,
            format: int32
          }

      responses:
        200:
          $ref: 'commons-models.openapi.yaml#/components/responses/OkStream'
        '400':
          $ref: 'commons-models.openapi.yaml#/components/responses/BadRequest'
        '500':
          $ref: 'commons-models.openapi.yaml#/components/responses/InternalServerError'

  /v1/resources/groups/{id}/territories/exportToBuild:
    get:
      tags: 
        - Groups
      summary: Export des territoires to build
      description: Export des territoires to build
      operationId: exportTerritoriesToBuild
      parameters:
      - name: id
        in: path
        description: Group's id
        required: true
        schema:
          type: integer
          format: int32
      - name: ids
        in: query
        description: Territory's ids
        required: false
        schema:
          type: array,
          items: {
            type: integer,
            format: int32
          }
      - name: formatPhoto
        in: query
        description: Photo's format
        required: true
        schema:
          type: string
          enum: [A5]

      responses:
        200:
          $ref: 'commons-models.openapi.yaml#/components/responses/OkStream'
        '400':
          $ref: 'commons-models.openapi.yaml#/components/responses/BadRequest'
        '500':
          $ref: 'commons-models.openapi.yaml#/components/responses/InternalServerError'

  /v1/resources/groups/{id}/territories/addresses/export:
    post:
      tags: 
        - Groups
      summary: Export des adresses de territoires
      description: Export des adresses de territoires
      operationId: territoryAddressesExport
      requestBody:
        description: bean
        required: true
        content:
          'application/json;charset=UTF-8':
            schema:
              $ref: 'commons-models.openapi.yaml#/components/schemas/PrintSettings'
      parameters:
      - name: id
        in: path
        description: Group's id
        required: true
        schema:
          type: integer
          format: int32
      - name: ids
        in: query
        description: Territory's ids
        required: false
        schema:
          type: array,
          items: {
            type: integer,
            format: int32
          }

      responses:
        200:
          $ref: 'commons-models.openapi.yaml#/components/responses/OkStream'
        '400':
          $ref: 'commons-models.openapi.yaml#/components/responses/BadRequest'
        '500':
          $ref: 'commons-models.openapi.yaml#/components/responses/InternalServerError'

components:
  schemas:
    Group:
      type: object
      properties:
        id:
          type: integer
          format: int32
        code:
          type: string
          example: NBE
        name:
          type: string
          example: Nantes Belle Etoile
        coordinates:
          type: string
          example: -1.51962,47.26979,0 -1.5202,47.26892
  
    GroupSearch:
      type: object
      properties:
        code:
          type: string
          example: NBE
